{{#section 'css'}}
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
	$('#txtDOB').datetimepicker({
		format: 'd/m/Y',
		timepicker: false,
		mask: true,
	});

	$('#frmRegister').on('submit', function (e) {
		// alert('submit called');
		e.preventDefault();
		// if (validate())
		//   $('#frmRegister').off('submit').submit();
		validate();
	})

	function validate() {
		// ... các lệnh validate khác

		const user = $('#txtUsername').val();
		$.getJSON(`/account/is-available?user=${user}`, function (data) {
			if (data === true) {
				$('#frmRegister').off('submit').submit();
			} else {
				alert('not available');
			}
		})
	}
</script>
{{/section}}
<div class="row">
	<div class="col-3">
	</div>
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h4 style="text-align: center;">Đăng Ký</h4>
			</div>
			<div class="card-body">
				<form method="POST" action="" id="frmRegister">
					<div class="form-group">
						<label for="txtUsername">Tên Tài Khoản</label>
						<input type="text" class="form-control" id="txtUsername" name="username" autofocus>
					</div>
					<div class="form-group">
						<label for="txtPassword">Mật Khẩu</label>
						<input type="password" class="form-control" id="txtPassword" name="password">
					</div>
					<div class="form-group">
						<label for="txtConfirm">Nhập Lại Mật Khẩu</label>
						<input type="password" class="form-control" id="txtConfirm" Confirm="confirm">
					</div>
					<div class="form-group">
						<label for="txtName">Họ Và Tên</label>
						<input type="text" class="form-control" id="txtName" name="name">
					</div>
					<div class="form-group">
						<label for="txtEmail">Email</label>
						<input type="text" class="form-control" id="txtEmail" name="email">
					</div>
					<div class="form-group">
						<label for="txtDOB">Ngày Sinh</label>
						<input type="text" class="form-control" id="txtDOB" name="dob">
					</div>

					<button type="submit" class="btn btn-primary">
						<i class="fa fa-check" aria-hidden="true"></i>
						Register
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-3">

	</div>

	<div class="card-footer text-muted">
		Footer
	</div>
</div>